version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    # volumes:
    #   - profbuh_pg:/var/lib/postgresql/data
    
  backend:
    depends_on:
      - db
    restart: always
    build:
      context: ../
      dockerfile: ./deployments/Dockerfile
    env_file:
      - ../.env
    ports:
      - "9999:8000"

# volumes:
#   profbuh_pg: